####################################################
# Git
####################################################

.git
.gitignore

####################################################
# Documentation
####################################################

README.md
LICENSE

####################################################
# IDE
####################################################

.vscode
.idea

####################################################
# OS Files
####################################################

.DS_Store
Thumbs.db
desktop.ini

####################################################
# Logs
####################################################

*.log

####################################################
# Environment Files
####################################################

.env
.env.*

####################################################
# Terraform
####################################################

terraform/
.terraform/
*.tfstate
*.tfstate.*

####################################################
# Kubernetes
####################################################

kubernetes/

####################################################
# GitHub
####################################################

.github/

####################################################
# Node
####################################################

node_modules/

####################################################
# Python
####################################################

__pycache__/
*.pyc

####################################################
# Temporary Files
####################################################

*.tmp
*.bak
*.swp