# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Node
# =========================
node_modules/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# =========================
# Kubernetes
# =========================
*.kubeconfig

# =========================
# macOS
# =========================
.AppleDouble
.LSOverride

# =========================
# Windows
# =========================
ehthumbs.db